<form [formGroup]="formData" novalidate (ngSubmit)="send(formData)">
    <div>
        <label>First Name</label>
        <input type="text" name="firstName" formControlName="firstName" required>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="lastName" formControlName="lastName" required>
    </div>
    <div>
        <label>Phone Number</label>
        <input type="tel" name="phoneNumber" formControlName="phoneNumber" required>
        <div *ngIf="formData.controls?.phoneNumber?.invalid">
            Error Message
        </div>
    </div>
    <p>{{ formData.controls?.phoneNumber?.errors | json }}</p>
    <button type="submit" [disabled]="formData.invalid">Send</button>
</form>